* {
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d3d6dc;
}

body {
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0 0 0;
  z-index: 1;
  & .logo {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 42px;
  }
  & h1 {
    text-align: center;
    font-family: "McLaren", serif;
    font-size: 36px;
    color: rgb(90, 202, 252);
    text-shadow: 0.25px 0.25px #000;
  }
  & img {
    height: 100%;
    margin-right: 8px;
  }
  & i {
    color: #111;
  }
}

.search-bar {
  background: #f2f3f8;
  width: 400px;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f3f8;
  transition: 0.1s ease-in-out;
  // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  &:focus-within {
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #c1c2c6;
  }
  i {
    margin-bottom: 1px;
    color: #666;
    font-size: 14px;
    font-weight: 500;
  }
  input {
    background: none;
    margin-left: 12px;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    outline: none;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #888;
    }
  }
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  pointer-events: none;
  opacity: 0;
  transition: 0.1s ease-out;
}
.loading p,
.error p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito Sans", serif;
  font-size: 20px;
  font-weight: 500;
}
.error {
  background: rgba(255, 255, 255, 1);
}

.definitions {
  margin: 40px 0 0 0;
  width: 420px;
  align-self: center;
  h1.word {
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
  }
  h2.pronunciation {
    margin-bottom: 48px;
    color: #666;
    font-family: "Nunito", serif;
    font-size: 24px;
    font-weight: 300;
  }
  .row {
    display: grid;
    grid-template-columns: 0.05fr 0.95fr;
    column-gap: 36px;
    row-gap: 48px;
    margin: 36px 0 0 -60px;
  }
  .num {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    padding: 2px 0px 0px 0px;
  }
  h3 {
    font-family: "Nunito Sans", sans-serif;
  }
  p {
    font-family: "Noto Serif", serif;
  }
  .definition {
    margin-bottom: 8px;
  }
  .example {
    font-size: 14px;
    color: #666;
  }
}

footer {
  min-width: 100%;
}

@media screen and (max-width: 600px) {
  .header .search-bar {
    width: 300px;
  }
  .header input {
    width: 250px;
  }

  .definitions {
    width: 325px;
    word-wrap: break-word;
  }
  .definitions .word {
    margin-left: 28px;
  }
  .definitions .pronunciation {
    margin-left: 32px;
  }
  .definitions .row {
    width: 325px;
    margin: 24px 0 0 0px;
    column-gap: 16px;
  }
}

@media screen and (max-width: 375px) {
  .header .search-bar {
    width: 250px;
  }
  .header input {
    width: 200px;
  }

  .definitions {
    width: 300px;
    word-wrap: break-word;
  }
  .definitions .word {
    margin-left: 20px;
    font-size: 48px;
  }
  .definitions .pronunciation {
    margin-left: 20px;
  }
  .definitions .row {
    width: 300px;
    margin: 24px 0 0 0px;
    column-gap: 16px;
  }
}
